<h3>Cards</h3>
    <map-detail-slider>
        <map-detail-nav>
            <h4 ng-click="sliderPrev()">Previous</h4>
            <h4 ng-click="sliderNext()">Next</h4>
        </map-detail-nav>
        <map-detail-table>
            <map-detail-row>
                <map-detail-card ng-repeat="card in missionCards" ng-class="card.state" ng-style="card.zindex" data="card" data-index="{{ $index }}"></map-detail-card>
            </map-detail-row>
        </map-detail-table>
    </map-detail-slider>
{{selected}}